doctype html
html
  head
    title Dear Me
    link(rel='icon', href='assets/favicon.ico')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css')
    link(rel='stylesheet', href='stylesheets/index.css')
    link(href='https://fonts.googleapis.com/css?family=Yellowtail', rel='stylesheet')

  body
    .container
      .landing
        .content
          h1 DearMe
        .panel.borderless
          a(href='./login.html', class ='btn btn-default')
            button 
              h3 Login
          a(href='./signup.html', class ='btn btn-default')
            button 
              h3 Sign up
    .test
