doctype html
html
  head
    title Journal
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    script.
      $('.collapse').collapse()

  body
    .container
      .page-header.text-center
        h1
          span.fa.fa-anchor
          |  Journals
        a.btn.btn-default.btn-sm(href='/logout') Logout
        a.btn.btn-default.btn-sm(href='/profile') Profile

        a.btn.btn-default.btn-sm(href='/write') New Entry
      //- each entry in entries
      //-   p=entry
      
      //WHOA I NEED TO FIX THIS UGLY CODE
      #accordion.panel-group(role='tablist', aria-multiselectable='true')

        - for (var i = 0; i < entries.length; ++i){
          .panel.panel-default
            .panel-heading(id='heading' + i, role='tab')
              h4.panel-title
                a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse' + i, aria-expanded='true', aria-controls='collapse' + i)=dates[i]
            .panel-collapse.collapse(id='collapse' + i, role='tabpanel', aria-labelledby'heading' + i)
              .panel-body!=entries[i].entry.html
        - }

          