doctype html
html
  head
    title Login
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    // load fontawesome

    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')

    link(href='https://fonts.googleapis.com/css?family=Yellowtail', rel='stylesheet')

    link(rel='stylesheet', href='stylesheets/login.css')
    link(rel='icon', href='assets/favicon.ico')
  body
    .main-wrap
      .dearMe
        h1 DearMe
        h2 
          i.fa.fa-sign-in(aria-hidden='true') 
          |  Login
        br

        if message.length > 0
          .alert.alert-danger=message
        br
      form.login-main(action='/login', method='post')
        input.box1.border1(type='text', placeholder='Email', name='email')
        input.box1.border2(type='password', placeholder='Password', name='password')
        input.send(type='submit', value='Go')
        br
        a(href='./index.html')
          p Forgot password? Click here.
