doctype html
html
  head
    title Sign Up
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    // load fontawesome
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')

    link(href='https://fonts.googleapis.com/css?family=Yellowtail', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/signup.css')
    link(rel='icon', href='assets/favicon.ico')
  body
    .main-wrap
      .dearMe
        h1 DearMe
        h2 
          i.fa.fa-lock(aria-hidden='true') 
          |  Register
        br
        br
      if message.length > 0
        .alert.alert-danger=message
      form.login-main(action='/signup', method='post')
        input.box1.border1(type='text', placeholder='Email', name='email')
        input.box1.border2(type='password', placeholder='Password', name='password')
        input.send(type='submit', value='Go')
        br
        p
          |Already have an account? 
          a(href='/login') Login here.
